PORT=3000
NODE_ENV=development

# Credenciales de PostgreSQL
POSTGRES_DB=your_db_name
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432

# Cadena de conexión para Prisma / Node.js
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Auth
JWT_SECRET=JWT_SECRET

# Credenciales de PGADMIN
PGADMIN_EMAIL=email
PGADMIN_PASSWORD=your_password
PGADMIN_PORT=5050